@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow: hidden; /* Prevent scrolling */
}

/* Custom utilities for overlay animations */
@layer utilities {
  .overlay-hidden {
    opacity: 0;
    pointer-events: none;
    transform: scale(1.05); /* Slight zoom out effect */
  }
  .overlay-visible {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
  }
}
